*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.myContent{
    border: 1px solid #c0c0c0;
    width: 20%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 13px 3px #4e4e4e;
}
.myContent h1{
    text-align: center;
    margin-bottom: 20px;
    
}
.main{
    margin: 40px 30%;
}
.myContent button{
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.myContent .min{
border:1px solid red;
color: red;
background-color: white;
}

.myContent .plus{
    border:1px solid rgb(0, 255, 13);
    background-color: white;
    color: rgb(0, 255, 13);
}

.myContent button[class="min"]:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.myContent   button[class="plus"]:hover{
    background-color: rgb(0, 255, 13);
    color: white;
}
